﻿body { 
	margin:0;  
	padding:0;  
	background: no-repeat center center fixed;  
	background-image: -moz-linear-gradient(#CDCBD0, #F0EDE9);  
	background-image: -webkit-linear-gradient(#CDCBD0, #F0EDE9);  
	background-size : cover; }
#main { 
	margin: auto;  
	width: 50%;  
	margin-top: 20px; 
    background-color: #F3F3F3; 
    box-shadow: 0px 0px 30px black; 
    border-radius: 10px;  
    text-align:center;  
    padding-top: 10px;  
    padding-bottom: 40px;  }
h1 { 
	font-family: Merienda One; 
	text-shadow: 1px 1px 2px #2C2235;  
	font-size: 170%; }
form { 
	font-family: Port Lligat Slab;  
	text-shadow: 1px 1px 2px white;  
	text-align: relative; }
label { 
	display: inline-table; 
	position: center; 
	top: 3px;  }
#btsub { 
	position:right;  
	left: 0%; 
	top: 23px;  
	background-image: -moz-linear-gradient(#B31A16, #FF521E);  
	background-image: -webkit-linear-gradient(#B31A16, #FF521E);  
	color: white;  
	border: none; 
	border-radius: 3px;  
	box-shadow: 1px 1px 7px black; 
	font-size: 130%; 
	font-family: Merienda One;  font-weight:bold; }
#btsub:hover { 
	background-image: -moz-linear-gradient(#FF521E, #B31A16);  
	background-image: -webkit-linear-gradient(#FF521E, #B31A16);  
	color: white;  
	font-weight: bold;  
	border: none; 
	border-radius: 3px;  
	box-shadow: 1px 1px 2px black; }
.flashed {
	position: relative;
	right:20px;
	list-style-type: none; }
.flashed li {
	font-family: Port Lligat Slab; 
	text-align: center;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 3px;
	box-shadow: 1px 1px 9px black; }
.succes li {
	background-image: -moz-linear-gradient(#B7FF4F, #6CD043);
	background-image: -webkit-linear-gradient(#B7FF4F, #6CD043); }
.error li {
	background-image: -moz-linear-gradient(#F43600, #D83C31);
	background-image: -webkit-linear-gradient(#F43600, #D83C31); }
.fichiers {
	text-align: left;
	list-style-type: circle;
	font-family: Port Lligat Slab;
	}
#menu-accordeon {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 180px;
}
#menu-accordeon ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu-accordeon li {
   background-color:#729EBF; 
   background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
   background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40
}
#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menu-accordeon a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size:1em
}
#menu-accordeon li:hover {
   background: #729EBF
}
#menu-accordeon li li:hover {
   background: #999;
}
#menu-accordeon ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu-accordeon li:hover li {
  max-height: 15em;
}
h3
        {
            text-align:left;
    }
       