{% extends 'entete.html' %}

{% block main %}
<div id="page-home">
	<div id="main">

		<div style="position: relative;" id="hp-cc">

               <div id="text-sr" class="OP-Middle-Txt white_color" style="display: block;"> Your <strong>private path </strong>to access <strong>network<br>
    resources </strong>and <strong>services securely</strong> </div>
  <!-- services hover text -->
  <div class="OP-Middle-Txt" id="sr-text" style="display: none;">Your <strong>Secure and Private Tunnel </strong>to the Internet</div>
  <div class="OP-Middle-Txt" id="sl-text" style="display: none;">Deploying <strong>VPN Access Solution </strong>for your Business</div>
  </br>
</br>
</br>
  <div class="clear"></div>

		</div>
		<div id="hp-cols">


                  		<div class="moduletable-hp-col-1">
					

<div class="custom-hp-col-1">
	<div id="OP-ServiceBoxes">

<div class="OP-vpnservice sr">
<div id="OP-vpnservice-top"><img alt="" src=""></div>
<div id="OP-vpnservice-Bot"><img alt="" src="{{ url_for('static', filename='image/OP-Service-botbox.png') }}" align="right"></div></a>
</div>
<div class="OP-vpnservice sl">
<div id="OP-vpnservice-top"><img alt="" src="{{ url_for('static', filename='image/OP-vpnsolution-heading.png') }}" align="left"></div>
<div id="OP-vpnservice-Bot"><img alt="" src="{{ url_for('static', filename='image/OP-vpnsolution-bot.png') }}" align="left"></div></a>
</div>
<div class="OP-vpnservice cm">

<div id="OP-vpnservice-top"><img alt="" src="{{ url_for('static', filename='image/OP-vpncommunity-heading.png') }}" align="middle"></div>
<div id="OP-vpnservice-Bot"><img alt="" src="{{ url_for('static', filename='image/OP-vpncommunity-bot.png') }}" align="middle"></div></a>
</div>
<!--services div end--></div></div>
		</div>
			<div class="moduletable-hp-col-1">
					
</br>
</br>
</br>
<center>VPN.WARSEARTH has you protected against the OpenSSL Heartbleed vulnerability</center>
{% endblock %}
</body>
