﻿{% extends 'entete.html' %}
{% block main %}
<div id="main">
<h1>nouvelle news:</h1>
<form action="" method="post" enctype="multipart/form-data">
	<label for="Titre">Titre</label><input id="Titre" type="text" name="Titre" />
	</br>
    <textarea id="Text" class="required" name="Text" rows="5" cols="50"></textarea>
	</br>
    <input id="btsub" type="submit" value="post" />
</form>
</div>
{% endblock %}