﻿<!doctype html>
<html class="no-js" lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>VPN warsearth</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merienda One">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Port Lligat Slab">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='up.css') }}">
	<IMG SRC="{{ url_for('static', filename='openvpn2.png') }}" ALT="VPN.WARSEARTH.FR" TITLE="VPN.WARSEARTH.FR">
</head>
<body>

{# on affiche les messages d'erreur puis les messages de succes #}
{% for categorie in ['error', 'succes'] %}
    {% with msgs = get_flashed_messages(category_filter=[categorie]) %}
        {% if msgs %}
        <ul class="flashed {{ categorie }}">
            {% for m in msgs %}
                <li>{{ m|safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
{% endfor %}

   </br>
	<ul id="menu-accordeon" style="float:left">
   <li><a href="/news/">news</a>
   <li><a href="/">accueil</a>
   <li><a href="#">Télechargement</a>
      <ul>
         <li><a href="/autologin/">autologin Crous Univ-lorraine</a></li>
         <li><a href="/openvpn86/">openvpn x86</a></li>
         <li><a href="/openvpn64/">openvpn x64</a></li>
         <li><a href="/unroot/">by pass vpn</a></li>
{% if session['pseudo'] != "" %}  
         <li><a href="/conf_client/">recuperer config openvpn</a></li>
{% endif %}
      </ul>
   </li>   
 {% if session['rang'] == 1 %}  
   <li><a href="#">menu administration</a>
      <ul>
         <li><a href="/addnews/">ajouté news</a></li>
			<li><a href="/userlist/">list utilisateur</a></li>
			<li><a href="/stats/">stats</a></li>
			<li><a href="#">lien sous menu 1</a></li>
			<li><a href="#">lien sous menu 1</a></li>
		
      </ul>
   </li>
 {% endif %}  
{% if session['connect'] == "false" %}  
   <li><a href="/logout/">déconnection</a> 
{% endif %}
{% if session['connect'] == "true" %}
   <li><a href="/login/">connection</a>
{% endif %}  
   </ul>
   {% block main %}{% endblock %}
    
</body>
</html>