﻿<!doctype html>
<html class="no-js" lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>VPN warsearth</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merienda One">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Port Lligat Slab">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='up.css') }}">
</head>
<body>

{# on affiche les messages d'erreur puis les messages de succes #}
{% for categorie in ['error', 'succes'] %}
    {% with msgs = get_flashed_messages(category_filter=[categorie]) %}
        {% if msgs %}
        <ul class="flashed {{ categorie }}">
            {% for m in msgs %}
                <li>{{ m|safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
{% endfor %}
</body>
</html>