﻿{% extends 'entete.html' %}
{% block main %}
<div id="main">
<h1>Vous devez vous connecté :</h1>
<form action="" method="post" enctype="multipart/form-data">
	<label for="user">ID</label><input id="user" type="text" name="user" />
    <label for="pw">Mot de passe</label><input id="pw" type="password" name="pw" />
    <input id="btsub" type="submit" value="Connection" />
</form>
<A href="../register/"title="register">register</A>
</div>
{% endblock %}