﻿{% extends 'entete.html' %}
{% block main %}
{% for i in range(nb) %}
<div id="main" style="float:center; clear: right">
                <h3>{{ news["titre"][i] }}<br>
				<em> {{ news["text"][i] }}</em></h3>
</div>
            {% endfor %}

{% endblock %}
</body>
