﻿{% extends 'entete.html' %}
{% block main %}
<div id="main">
<h1>enregistrement :</h1>
<form action="" method="post" enctype="multipart/form-data">
	<label for="user">ID</label><input id="user" type="text" name="user" />
    <label for="pw">Mot de passe</label><input id="pw" type="password" name="pw" />
	<label for="email">email</label><input id="email" type="text" name="email" />
    <input id="btsub" type="submit" value="enregistrement" />
</form>
<A href="../login/"title="login">login</A>
</div>
{% endblock %}