{% extends 'entete.html' %}
{% block main %}
<div id="main" style="float:center; clear: right">
user	ip		byte send		byte recu
</br>
{% for i in range(nb) %}
                {{stat[i]}}	{{address[i]}} {{send[i]}} {{received[i]}}
				</br>
{% endfor %}
</div>

{% endblock %}
</body>
