﻿{% extends 'entete.html' %}
{% block main %}
<div id="main" style="float:center; clear: right">
<h3>utilisateur
				<em> adress e-mail</em></h3>
				</div>
{% for i in range(nb) %}
<div id="main" style="float:center; clear: right">
                <h3>{{ news["titre"][i] }} {{ news["text"][i] }}</em></h3>
</div>
            {% endfor %}

{% endblock %}
</body>
